<div id="pr-menu">
    <div class="pr-user">
        <img src="../Images/loader.png" />
        @*@User.Identity.Name*@
    </div>

    <div class="list-group">
        <a asp-controller="RecurringBatch" asp-action="Index" class="list-group-item">"Recurring Payments"</a>
    </div>
</div>